h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: slategray;
    text-align: center;
    margin: auto;
    width: auto;
}
p {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
    text-align: center;
}

.old {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#past {
    width: 1000px;
}

